.head{
    text-align: center;
    justify-content: flex-end;
    
}

.paragraph{
    text-align: left;
}

.button{
   text-align: end;
}
.focus{
    background-color: black;
  display: flex;
  margin-top: 2%;
}

.phone{
    width: 60%;
  max-width: 500px;
  margin-left: 85px
}
  

